@model BookmakersApplication.Models.Tip

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>


<div>
    <span>@Model.Pair</span>
    @Html.HiddenFor(b=>b.TipId)
    @Html.RadioButtonFor(b=>b.isSelected, true)
</div>
<div>

</div>